.nav-container--web {
  width: 768px;
  height: 12rem;
  margin: 0 auto;

  border: 1px solid var(--primary-color);
  border-bottom: none;
  padding: 1.2rem;
}

.nav-container--mobile {
  width: 384px;
  height: 20rem;
  margin: 0 auto;

  border: 1px solid var(--primary-color);
  border-bottom: none;
  padding: 1.2rem;
}
