@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;900&display=swap');

/* CSS VARIABLES */
:root {
  --primary-color: #eb5e28;
  --primary-color--rgb: 235, 94, 40;
  --secondary-color: #0085ff;

  --background-color: #fcf7f1;
  --font-color: #252422;

  --shadow--primary: 0 7px 30px -10px rgba(150, 170, 180, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  color: var(--font-color);
  background-color: var(--background-color);
}

input,
textarea,
button {
  font-family: inherit;
}

/* HELPER CLASSES */
.display-none {
  display: none;
}

.opacity-zero {
  opacity: 0;
}

/* CENTER */
.center-text {
  text-align: center;
}

.center-flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* MAIN BODY */
.content-container {
  width: 80%;
  margin: 1.6rem auto;
}

.content-container__header {
  gap: 0.8rem;
}

.content-container__header h1 {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;

  position: relative;
}

.content-container__header h1::after {
  content: 'web';

  position: absolute;
  bottom: 5%;
  right: -20%;
  z-index: -9;
  transform: rotate(-15deg);

  font-size: 1.4rem;
  color: var(--background-color);
  background-color: var(--primary-color);

  padding: 0 6px;
}

.content-container__body {
  margin: 4.8rem auto;
}

.content-container__task {
  margin-bottom: 1.2rem;
}
